<h1>Convert <%= @root_currency %></h1>
<p>Go <a href="/">back</a></p>

<!--<p><%#= @all_currencies%></p>-->

<ul>
  <% @all_currencies.each do |currency| %>
  <li>
    <a href="/<% @root_currency %>/<% currency %>">
      Convert 1 <%= @root_currency %> to <%= currency %>
    </a> 
  </li>
  <% end %>
</ul>
